@font-face {
    font-family: "Verdana Pro";
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-Light.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-LightItalic.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-Regular.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-Italic.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-SemiBold.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-SemiBoldItalic.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-Bold.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-BoldItalic.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-Black.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: 900;
    font-stretch: normal;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-BlackItalic.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: 300;
    font-stretch: condensed;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondLight.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: 300;
    font-stretch: condensed;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondLightItalic.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondRegular.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: normal;
    font-stretch: condensed;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondItalic.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: 600;
    font-stretch: condensed;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondSemiBold.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: 600;
    font-stretch: condensed;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondSemiBoldItalic.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondBold.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: bold;
    font-stretch: condensed;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondBoldItalic.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: 900;
    font-stretch: condensed;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondBlack.woff);
}

@font-face {
    font-family: "Verdana Pro";
    font-weight: 900;
    font-stretch: condensed;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondBlackItalic.woff);
}

/* For legacy browsers (IE 9-11, Chrome 5-47, Firefox 3.6-21, Opera 11.1-34) */

@font-face {
    font-family: "Verdana Pro Condensed";
    font-weight: 300;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondLight.woff);
}

@font-face {
    font-family: "Verdana Pro Condensed";
    font-weight: 300;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondLightItalic.woff);
}

@font-face {
    font-family: "Verdana Pro Condensed";
    font-weight: normal;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondRegular.woff);
}

@font-face {
    font-family: "Verdana Pro Condensed";
    font-weight: normal;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondItalic.woff);
}

@font-face {
    font-family: "Verdana Pro Condensed";
    font-weight: 600;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondSemiBold.woff);
}

@font-face {
    font-family: "Verdana Pro Condensed";
    font-weight: 600;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondSemiBoldItalic.woff);
}

@font-face {
    font-family: "Verdana Pro Condensed";
    font-weight: bold;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondBold.woff);
}

@font-face {
    font-family: "Verdana Pro Condensed";
    font-weight: bold;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondBoldItalic.woff);
}

@font-face {
    font-family: "Verdana Pro Condensed";
    font-weight: 900;
    font-style: normal;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondBlack.woff);
}

@font-face {
    font-family: "Verdana Pro Condensed";
    font-weight: 900;
    font-style: italic;
    src: url(https://bonzey2416.github.io/static-fonts/fonts/Verdana%20Pro/VerdanaPro-CondBlackItalic.woff);
}
